
#product-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 3rem;
}

#item-container{
    
    box-shadow: 0px 0px 10px 0px #bfbfbf;
    border-radius: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 24px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 24px;
    box-sizing: border-box;
}

#image{
    width: 120px;
    object-fit: contain;
}


.buttons{
    margin-bottom: 10px;
}


.quantity{
    margin-left: 5px;
    margin-right: 5px;
}

.order-button{
    border: none;
    font-size: 14px;
    font-weight: 550;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor:pointer;
}


@media (min-width: 576px){
    
    #item-container{
        flex-direction: row;
        justify-content: space-evenly;
    }
}