
.item-container{
    box-shadow: 0px 0px 10px 0px #bfbfbf;
    border-radius: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 24px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 24px;
    box-sizing: border-box;
}

.link-items{
    text-decoration: none;
}

.image{
    width: 50%;
    height: 120px;
    object-fit: contain;
}



.info-container{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
}


.price{
    color: green;
}

.item-price{
    color: black;
    font-weight: 600;
}


.add-btn{
    background-color: orange;
    color: white;
    font-size: 14px;
    font-weight: 600;
    border-style: none;
    padding: 5px;
    margin-bottom: 10px;
}

@media (min-width: 576px){
    .item-container{
        margin-top: 20px;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 20px;
    }
    

    .image{
        width: 50%;
    }

}