
nav{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
}

ul{
    list-style-type: none;
    display: flex;
}

li{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 16px;
    font-weight: 600;
}