


#order-item-container{
    
    box-shadow: 0px 0px 10px 0px #bfbfbf;
    border-radius: 10px;
    /* align-items: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 24px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 24px;
    box-sizing: border-box;
    padding: 10px;
}

.order-id{
    margin-top: 10px;
    margin-bottom: 10px;
}

.order-list{
    display: flex;
}

.item{
    margin: 5px 10px 5px 10px;
}

.price{
    color: green;
}

.buttons{
    margin-bottom: 10px;
}


.quantity{
    margin-left: 5px;
    margin-right: 5px;
}



@media (min-width: 576px){

    #order-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        /* flex-wrap: wrap; */
        text-align: start;
        /* justify-content: center; */
    }

    #order-item-container{
        width: 50%;
    }
    
   #info-container{
       padding: 10px;
   }
   
}